In [2]:
l=[1,345,45,"alekha",True,5+7j ,45.789]

In [3]:
type(l)

list

In [4]:
l[3]

'alekha'

In [5]:
l[2]

45

In [6]:
l[98]

IndexError: list index out of range

In [7]:
l

[1, 345, 45, 'alekha', True, (5+7j), 45.789]

In [8]:
l[0:3]

[1, 345, 45]

In [9]:
l[-1]

45.789

In [10]:
l[::-1]

[45.789, (5+7j), True, 'alekha', 45, 345, 1]

In [11]:
l[-1:-7:-1]

[45.789, (5+7j), True, 'alekha', 45, 345]

In [12]:
l[0:7:2]

[1, 45, True, 45.789]

In [13]:
s="pwskills"

In [14]:
l+s

TypeError: can only concatenate list (not "str") to list

In [15]:
s="pwskills"

In [16]:
list(s)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [17]:
list(s)+l

['p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 345,
 45,
 'alekha',
 True,
 (5+7j),
 45.789]

In [18]:
x

NameError: name 'x' is not defined

In [19]:
l

[1, 345, 45, 'alekha', True, (5+7j), 45.789]

In [20]:
l[3]

'alekha'

In [21]:
type(l[3])

str

In [22]:
l[3][0:2:1]

'al'

In [23]:
l[4]

True

In [24]:
str(l[4])

'True'

In [25]:
l+4

TypeError: can only concatenate list (not "int") to list

In [26]:
l2=[4,6,87]

In [27]:
l+l2

[1, 345, 45, 'alekha', True, (5+7j), 45.789, 4, 6, 87]

In [28]:
l+[67,"uu",89]

[1, 345, 45, 'alekha', True, (5+7j), 45.789, 67, 'uu', 89]

In [29]:
l*3

[1,
 345,
 45,
 'alekha',
 True,
 (5+7j),
 45.789,
 1,
 345,
 45,
 'alekha',
 True,
 (5+7j),
 45.789,
 1,
 345,
 45,
 'alekha',
 True,
 (5+7j),
 45.789]

In [30]:
len(l)

7

In [31]:
l

[1, 345, 45, 'alekha', True, (5+7j), 45.789]

In [32]:
l.append(3)

In [33]:
l

[1, 345, 45, 'alekha', True, (5+7j), 45.789, 3]

In [34]:
l

[1, 345, 45, 'alekha', True, (5+7j), 45.789, 3]

In [35]:
l.append(s)

In [36]:
l

[1, 345, 45, 'alekha', True, (5+7j), 45.789, 3, 'pwskills']

In [37]:
l2

[4, 6, 87]

In [38]:
l.append(l2)

In [39]:
l

[1, 345, 45, 'alekha', True, (5+7j), 45.789, 3, 'pwskills', [4, 6, 87]]

In [40]:
l.append([8])

In [41]:
l

[1, 345, 45, 'alekha', True, (5+7j), 45.789, 3, 'pwskills', [4, 6, 87], [8]]

In [42]:
l[9]

[4, 6, 87]

In [43]:
l[-2][1:2]

[6]

In [44]:
l[3]

'alekha'

In [45]:
l[3][3]

'k'

In [46]:
l.extend(3)

TypeError: 'int' object is not iterable

In [47]:
l.extend("ramachandra")

In [48]:
l

[1,
 345,
 45,
 'alekha',
 True,
 (5+7j),
 45.789,
 3,
 'pwskills',
 [4, 6, 87],
 [8],
 'r',
 'a',
 'm',
 'a',
 'c',
 'h',
 'a',
 'n',
 'd',
 'r',
 'a']

In [49]:
s.extend("asdg")

AttributeError: 'str' object has no attribute 'extend'

In [50]:
l.extend([3,5,6])

In [51]:
l

[1,
 345,
 45,
 'alekha',
 True,
 (5+7j),
 45.789,
 3,
 'pwskills',
 [4, 6, 87],
 [8],
 'r',
 'a',
 'm',
 'a',
 'c',
 'h',
 'a',
 'n',
 'd',
 'r',
 'a',
 3,
 5,
 6]

In [52]:
l2

[4, 6, 87]

In [53]:
l2.insert(2,"alekha")

In [54]:
l2

[4, 6, 'alekha', 87]

In [55]:
l2.insert(3,[4,6,9])

In [56]:
l2.insert(-1,77)

In [57]:
l2

[4, 6, 'alekha', [4, 6, 9], 77, 87]

In [58]:
l3=[7,8,9]

In [59]:
l3.insert(-2,78)

In [60]:
l3

[7, 78, 8, 9]

In [61]:
l2.pop()

87

In [62]:
l3

[7, 78, 8, 9]

In [63]:
l2

[4, 6, 'alekha', [4, 6, 9], 77]

In [64]:
l2.pop(3)

[4, 6, 9]

In [65]:
l2

[4, 6, 'alekha', 77]

In [66]:
l2.remove(89)

ValueError: list.remove(x): x not in list

In [67]:
l2

[4, 6, 'alekha', 77]

In [68]:
l2.remove(56)

ValueError: list.remove(x): x not in list

In [70]:
l2[3].remove(6)

AttributeError: 'int' object has no attribute 'remove'

In [71]:
l2

[4, 6, 'alekha', 77]

In [72]:
l2[3].pop()

AttributeError: 'int' object has no attribute 'pop'

In [73]:
l2

[4, 6, 'alekha', 77]

In [74]:
list(l2[2])

['a', 'l', 'e', 'k', 'h', 'a']

In [75]:
l2

[4, 6, 'alekha', 77]

In [76]:
l2.append(23)

In [77]:
l2

[4, 6, 'alekha', 77, 23]

In [78]:
l2=l2[::-1]

In [79]:
l2.reverse()

In [80]:
l2

[4, 6, 'alekha', 77, 23]

In [81]:
l2.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [83]:
l5=[2,3,5,98,1,24]

In [84]:
l5.sort()

In [85]:
l5

[1, 2, 3, 5, 24, 98]

In [86]:
l5

[1, 2, 3, 5, 24, 98]

In [87]:
l6=["Alekha","parida","data science","ram"]

In [88]:
l6.sort()

In [89]:
l6

['Alekha', 'data science', 'parida', 'ram']

In [90]:
l6.sort(reverse=True)

In [91]:
l6

['ram', 'parida', 'data science', 'Alekha']

In [92]:
l6.index("ram")

0

In [93]:
l6.count("Alekha")

1

In [94]:
s="alekha"

In [95]:
l7=[3,8,5,6,7]

In [96]:
s[0]="m"

TypeError: 'str' object does not support item assignment

In [97]:
l7[0]=67

In [98]:
l7

[67, 8, 5, 6, 7]

In [99]:
s=s.replace('a','z')

In [100]:
s

'zlekhz'

In [101]:
s

'zlekhz'

In [102]:
tuple

tuple

In [103]:
t=(2,4,5,6,True,"alekha",45+47j,[3,5,7],34.76)

In [104]:
t

(2, 4, 5, 6, True, 'alekha', (45+47j), [3, 5, 7], 34.76)

In [105]:
type(t)

tuple

In [106]:
t[3]

6

In [107]:
len(t)

9

In [108]:
t[0]

2

In [109]:
t[-1]

34.76

In [110]:
t[::-1]

(34.76, [3, 5, 7], (45+47j), 'alekha', True, 6, 5, 4, 2)

In [111]:
l6[2]=2345

In [112]:
l6

['ram', 'parida', 2345, 'Alekha']

In [113]:
t

(2, 4, 5, 6, True, 'alekha', (45+47j), [3, 5, 7], 34.76)

In [114]:
t[0]="Alekha"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[::-1]

(34.76, [3, 5, 7], (45+47j), 'alekha', True, 6, 5, 4, 2)

In [ ]:
t.count(5)

1

In [115]:
t.index(True)

4

In [ ]:
set

In [ ]:
s1={}

In [ ]:
type(s1)

dict

In [ ]:
s2={4,5,87,90}

In [ ]:
type(s2)

set

In [116]:
s3={2,4,5,[3,56,7]}

TypeError: unhashable type: 'list'

In [118]:
s3={2,4,5,(4,56,7),3+7j,"alekha"}

In [121]:
s4={2,2,2,2,3,3,3,3,4,4,4,4,"ale","ale"}

In [122]:
s4

{2, 3, 4, 'ale'}

In [133]:
a1={3,3,3,32,2,2,2,3,3,3,3,4,4,4,4,"ale","ale",5,5,5,5,6,6,6,6}

In [134]:
a1=list(set(a1))

In [135]:
a1

[32, 2, 3, 4, 5, 6, 'ale']

In [136]:
set(a1)

{2, 3, 32, 4, 5, 6, 'ale'}

In [137]:
h1=list(a1)

In [138]:
h1

[32, 2, 3, 4, 5, 6, 'ale']

In [139]:
s5={34,56,76,2,79,890,430,"asd"}

In [140]:
s5

{2, 34, 430, 56, 76, 79, 890, 'asd'}

In [141]:
s5[3]

TypeError: 'set' object is not subscriptable

In [143]:
s5[::-1]

TypeError: 'set' object is not subscriptable

In [144]:
s5.add(500)

In [145]:
s5

{2, 34, 430, 500, 56, 76, 79, 890, 'asd'}

In [146]:
s5.remove(56)

In [147]:
s5

{2, 34, 430, 500, 76, 79, 890, 'asd'}

In [152]:
s
l2

[4, 6, 'alekha', 77, 23]

In [153]:
l2.insert(2,list(s))

In [154]:
l2

[4, 6, ['z', 'l', 'e', 'k', 'h', 'z'], 'alekha', 77, 23]