In [ ]:
dict/ forloop/ ifelse

In [ ]:
d={}

In [ ]:
type(d)

dict

In [ ]:
d1={'key':'value'}

In [ ]:
d1

{'key': 'value'}

In [ ]:
d2={'name':"alekha","email":"ap234@gmail.com","number":678569}

In [ ]:
d2

{'name': 'alekha', 'email': 'ap234@gmail.com', 'number': 678569}

In [ ]:
d3={234:"asd",'_ssd':"alekha",True:1233}

In [ ]:
d3[234]

'asd'

In [ ]:
d3[True]

1233

In [ ]:
d3[1]

1233

In [ ]:
d4={'name':"alekha","email":"ap234@gmail.com",'name':"alekha parida"}

In [ ]:
d4['name']

'alekha parida'

In [ ]:
d4["email"]

'ap234@gmail.com'

In [ ]:
d5={"company":"pwskills",
    "course":["web dev","data science","java"]}

In [ ]:
d5["company"]

'pwskills'

In [ ]:
d5["course"][2]

'java'

In [ ]:
d6={"number":[2,3,4,9,6,89],
    "assignment":(2,3,4,5,6),
    'launch date':{28,4,8},
    "class_time":{"web_Dev":8,"data SCience":9,"java":7}}

In [ ]:
d6

{'number': [2, 3, 4, 9, 6, 89],
 'assignment': (2, 3, 4, 5, 6),
 'launch date': {4, 8, 28},
 'class_time': {'web_Dev': 8, 'data SCience': 9, 'java': 7}}

In [ ]:
type(d6)

dict

In [ ]:
type(d1)

dict

In [ ]:
d6["class_time"]["java"]

7

In [ ]:
d6["menter"]=["alekha","radha","rama","krishna"]

In [ ]:
d6

{'number': [2, 3, 4, 9, 6, 89],
 'assignment': (2, 3, 4, 5, 6),
 'launch date': {4, 8, 28},
 'class_time': {'web_Dev': 8, 'data SCience': 9, 'java': 7},
 'menter': ['alekha', 'radha', 'rama', 'krishna']}

In [ ]:
del d6["number"]

In [ ]:
d6

{'assignment': (2, 3, 4, 5, 6),
 'launch date': {4, 8, 28},
 'class_time': {'web_Dev': 8, 'data SCience': 9, 'java': 7},
 'menter': ['alekha', 'radha', 'rama', 'krishna']}

In [ ]:
list(d6.keys())

['assignment', 'launch date', 'class_time', 'menter']

In [ ]:
list(d6.values())

[(2, 3, 4, 5, 6),
 {4, 8, 28},
 {'web_Dev': 8, 'data SCience': 9, 'java': 7},
 ['alekha', 'radha', 'rama', 'krishna']]

In [ ]:
list(d6.items())

[('assignment', (2, 3, 4, 5, 6)),
 ('launch date', {4, 8, 28}),
 ('class_time', {'web_Dev': 8, 'data SCience': 9, 'java': 7}),
 ('menter', ['alekha', 'radha', 'rama', 'krishna'])]

In [ ]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:

mark=10
if mark >=80:
    print("a0")
elif mark >=60 and mark <80:
    print("a1")
elif mark >=40 and mark <  60:
    print("a2")
else  :
    print("fail")

fail

In [13]:

mark=int(input("enter your mark"))
if mark >= 80:
    print("a0")
elif mark >= 60 and mark < 80:
    print("a1")
elif mark >= 40 and mark < 60:
    print("a2")
else :
    print("fail")

a2

In [14]:
marks =int(input("enter your mark"))

In [16]:
marks

7

In [17]:
type(marks)

int

In [20]:
price=int(input("enter your price"))
if price >1000 :
    print("i will not purchase")
else :
    print("i will purchase")

i will not purchase

In [34]:
price=int(input("enter your price"))
if price >1000  :
    print("i will  purchase")
    if price>8000:
        print("this is too much")
    elif price<2000:
        print("this is ok")
else :
    print("not interested")

not interested

In [35]:
l=[1,2,3,4,4,5,6,7]

In [36]:
l[0]+1

2

In [37]:
l1=[]

In [38]:
li=l1.append(l[0]+1)

In [39]:
l1

[2]

In [40]:
l=[1,2,3,4,4,5,6,7]

In [54]:
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)
    # print(l1)

2
3
4
5
5
6
7
8

In [55]:
l1

[2, 3, 4, 5, 5, 6, 7, 8]

In [56]:
l3=["alekha","parida","pwskills","course"]

In [63]:
l4=[]
j=l3[0].upper()
l4.append(j)
print(l4)

['ALEKHA']

In [86]:
l5=[]
for i in l3 :
    j= i.upper()
    l5.append(j)
    print(l5)

['ALEKHA']
['ALEKHA', 'PARIDA']
['ALEKHA', 'PARIDA', 'PWSKILLS']
['ALEKHA', 'PARIDA', 'PWSKILLS', 'COURSE']

In [88]:
l5

['ALEKHA', 'PARIDA', 'PWSKILLS', 'COURSE']

In [104]:
l=[1,2,3,4,"alekha","parida",347,67.89,"abc","parida"]

In [111]:
l1_num=[]
l2_str=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1_num.append(i)
else:
        l2_str.append(i)

In [112]:
l1_num

[1, 2, 3, 4, 347]

In [113]:
l2_str

['parida']